@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px 0;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 21px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav h1 {
  color: #fff;
  background-color: #cdc1ff;
  border-radius: 5px;
  padding: 1px 10px;
  padding-top: 5px;
  position: fixed;
}
.nav p {
  margin-left: 18px;
}
.filter {
  background-color: #cdc1ff;
  padding: 4px 0;
  padding-left: 12px;
  padding-right: 5px;
  border-radius: 0 10px 10px 0;
  margin-top: 6px;
  top: 0;
  font-size: 28px;
  cursor: pointer;
  position: fixed;
  z-index: 4;
  left: 0;
}

.filter:hover {
  background-color: #baabf3;
}

section {
  padding: 0 17%;
}

.warung {
  padding-top: 40px;
}

#container-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  /* max-height: 50vh; */
  /* overflow: auto; */
}

#choose-product .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-height: 30vh;
  overflow: auto;
}
#choose-product h2 {
  margin-bottom: 10px;
}

#product {
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
#product.klik {
  border: 1px solid #a294f9;
}

.img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.content {
  text-align: center;
}
.content .text {
  margin-top: 5px;
  text-align: left;
  font-size: 0.85rem;
}
.content .text i {
  line-height: 14px;
}

.jmlh {
  font-size: 1.2rem;
  padding: 5px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
}
.jmlh .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .jmlh .detail p {
  font-size: 24px;
}
.nominal {
  margin-top: 5px;
  margin-left: 5px;
  text-align: right;
  font-size: 16px;
} */

input#jumlah {
  width: 40px;
  font-size: 18px;
  padding: 3px;
  margin-top: 3px;
  border: 2px solid #000;
}

#harga-total {
  display: flex;
  margin-top: 8px;
}

.keranjang-belanja {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: #f5efff;
  top: 0;
  left: 0;
  display: none;
}
.keranjang-belanja #total {
  margin-top: 10px;
}
.keranjang-belanja #total .jmlh p {
  margin-top: 8px;
  font-size: 18px;
}
.keranjang-belanja #total .jmlh .detail p {
  line-height: 22px;
  font-size: 18px;
}
.keranjang-belanja.klik {
  overflow: auto;
  display: block;
}
.keranjang-belanja > div {
  padding: 0 17%;
  margin: 30px 0;
}

.klik-keranjang {
  position: fixed;
  z-index: 6;
  border-radius: 10px 0 0 10px;
  top: 0;
  right: -55px;
  padding: 5px;
  padding-right: 12px;
  margin-top: 6px;
  cursor: pointer;
  border: none;
  background-color: #cdc1ff;
  transition: all 0.2s ease;
}
.klik-keranjang.up {
  right: 0;
}

.klik-keranjang:hover {
  background-color: #baabf3;
}
.klik-keranjang i {
  font-size: 1.6rem;
  color: #000;
}
.klik-keranjang p {
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: red;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  display: none;
}
.klik-keranjang i p.klik {
  opacity: 0;
}

.categories-container {
  position: fixed;
  z-index: 3;
  background-color: #f5efff;
  height: 100vh;
  padding: 20px;
  padding-left: 15px;
  padding-top: 60px;
  top: 0;
  left: -210px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.categories-container.klik {
  left: 0;
}
.categories-container button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
}
.categories-container button:hover {
  background-color: #f5f5f5;
}
.categories-container #inputCari {
  margin-top: 2px;
  width: 140px;
  font-size: 16px;
  padding: 5px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Untuk layar tablet */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  section,
  .keranjang-belanja > div {
    padding: 0 10%;
  }
}

/* Untuk layar ponsel */
@media screen and (max-width: 600px) {
  section,
  .keranjang-belanja > div {
    padding: 3%;
  }
}
